<p>adventure-works works!</p>
<ul>
  <li *ngFor="let schema of dathier | keyvalue">
    <input type="checkbox" id="list-item-{{schema.key}}" />
    <label for="list-item-{{schema.key}}" class="first">{{schema.key}}</label>
    <ul>
      <ng-container *ngFor="let type of schema.value | keyvalue">
        <!--{{type.key}}-->
        <ng-container *ngIf="(type.key === '<table>')">
          <li *ngFor="let table of type.value" style="margin-left: 2em;">
            <mat-icon>table_view</mat-icon>
            <button mat-button routerLink="/AdventureWorks/table/{{table}}">{{table}}</button>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </li>
</ul>

<div class="progress-spinner" *ngIf="isWiP">
  <mat-spinner></mat-spinner>
</div>
